body {
    padding: 15px;
    background-color: #000014;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #c2c5ff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h4 {
    text-align: center;
    margin-bottom: 20px;
    color: rgba(255, 217, 0, 0.61);
    font-family: 'Croissant One', cursive;
}

.strong-password {
    font-family: Arial, sans-serif;
    color: #bfd0ff;
    margin: auto;
    width: 90%;
    height: 300px;
    margin-top: 25px;
    background-color: #00006e;
    padding: 50px 20px 50px 20px;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #1b37b4;
    text-align: center;
}

.strong-password:hover {
    box-shadow: 1px 1px 15px 2px #1b37b4;
}

#colorer {
    color: blue;
}

button {
    border-radius: 25px;
    background-color: #5b5bf5;
    padding: 10px;
    border: 1px solid #3c5ffa;
    width: 150px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #8181fa;
}

#copy {
    margin-top: 3px;
    padding: 3px;
    width: fit-content;
}

.options {
    width: 90%;
    margin-bottom: 10px;
}

input[type="number"] {
    border-radius: 3px;
    background-color: #bfbff3;
    padding: 3px;
    border: 1px solid #bfbff3;
    width: 50px;
}


.result {
    margin-top: 20px;
    display: none;
}

#generated {
    min-width: fit-content;
    width: 200px;
    border-radius: 3px;
    background-color: #d5d5f8;
    padding: 3px;
    border: 1px solid #bfbff3;
}


@media only screen and (min-width: 1024px) {
    .strong-password {
        width: 50%;
        max-height: 300px;
        height: 300px;
    }
}